h1{
    color: aquamarine;
    text-align: center;
  
    border: 1.5cm solid rebeccapurple;
    border-style: double;
    background-color: bisque;
    font-size: 3cm;
    font-style: italic;
    font-weight: 100;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
   box-sizing: border-box;
}
title
{
    position: absolute;
    width:400px;
    fill:none
}
h2{
    border-color: beige;
    text-decoration-color: blue;
   font-weight: 100;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   text-align: center;
}
img{
    position: relative;
    left:5cm;
  
}

div{
    text-emphasis-color: darkred;
   
    position: relative;
    left:100px;
}


html{
    background:burlywood ;
    background-size: cover;
    font-size: 20px;
    display: block;
}
#main
{
    margin:20px 0 40px 0;
    padding: 0 40px 0 40px;
    width :500px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height:100vh ;
}
form
{
    text-align: center;

}
